# Ignore everything in the frontend (it has its own build process)
frontend/
emailcampaigntracker/frontend/

# Ignore local python environments
.venv/
venv/
__pycache__/
*.pyc

# Ignore local data and secrets
.env
cookies.json
scraper/cookies.pkl
C:/selenium-profile/
data/browser/

# Ignore Git
.git/
.github/

# Ignore logs
*.log
logs/
